header {
    color: purple;
  }
  
  h2 {
    color: blue;
  }
  
  ol {
    list-style-type: upper-roman;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  .colored {
    color: red;
  }